<div ng-cloak>
<!--    outlet select-->
    <div layout="row" layout-align="center">
        <md-select
                ng-model="vm.selectedOutlet"
                ng-change="vm.getChecklists(vm.selectedOutlet)"
                placeholder="Outlets"
                aria-label="Outlets"
                flex-xs="55"
                flex-gt-xs="40"
                flex-gt-md="25"
                flex-gt-lg="15"
        >
            <md-option ng-repeat="outlet in vm.outlets" ng-value="outlet">
                {{ outlet.name }}
            </md-option>
        </md-select>
    </div>

<!--    animated swipe row outside wrapper-->
    <div
            class="outside"
            layout="row"
            md-swipe-left="vm.handleSwipe($event, $target)"
            md-swipe-right="vm.handleSwipe($event, $target)"
            ng-repeat="checklist in vm.checklists"
    >
<!--        inside1 wrapper - elements that can be swiped-->
        <div
                ng-click="vm.openChecklistsTasks(checklist.id)"
                class="inside1"
                layout="row"
                id="inside1{{checklist.id}}"
        >
<!--            checklist row directive-->
            <checklists-row checklist='checklist' style="width: 100%"></checklists-row>
        </div>

<!--        inside2 wrapper - hidden elements shown after swipe-->
        <div class="inside2"
             id="inside2{{checklist.id}}"
        >
            <div layout="row">
<!--                setup button-->
                    <md-button aria-label="Setup"
                               layout="column"
                               layout-align="center center"
                               class="setupChecklistBtn"
                               ng-click="vm.openChecklistsSetup(checklist.id)"
                    >
                        <div layout="row" layout-align="center">
                            <i class="fa-solid fa-gear fa-xl"></i>
                        </div>
                        <div layout="row" layout-align="center">
                            Setup
                        </div>
                    </md-button>
<!--                delete button-->
                    <md-button aria-label="Delete"
                               layout="column"
                               layout-align="center center"
                               class="deleteChecklistBtn"
                               ng-click="vm.onChecklistDelete(checklist.id)"
                    >
                        <div layout="row" layout-align="center">
                            <i class="fa-solid fa-trash-can fa-xl"></i>
                        </div>
                        <div layout="row" layout-align="center">
                            Delete
                        </div>
                    </md-button>
            </div>
        </div>
    </div>

<!--    hidden input for new checklist-->
    <form name="addChecklistForm" ng-submit="addChecklistForm.$valid &&  vm.onChecklistAdd()" novalidate>
        <div class="addChecklistRow" layout="row" ng-hide="vm.showAddChecklistBtn">
            <div class="nameCol" layout="column" flex="grow" layout-align="center">
                <input class="md-medium-tall" ng-model="vm.newChecklist" placeholder="Type a new checklist here..."
                       required>
            </div>
            <div
                    class="btnCol"
                    layout="column"
                    layout-align="center"
                    flex-xs="25"
                    flex-gt-xs="15"
                    flex-gt-md="10"
                    flex-gt-lg="5"
            >
                <md-button type="submit" aria-label="Add" ng-disabled="!vm.newChecklist">
                    <i class="fa-solid fa-check fa-xl"></i>
                </md-button>
            </div>
        </div>
    </form>

<!--   show add checklist button-->
    <md-button class="md-fab add-button" aria-label="Add" ng-click="vm.onAddBtnPress()"
               ng-show="vm.showAddChecklistBtn && vm.selectedOutlet">
        <i class="fa-solid fa-plus"></i>
    </md-button>

</div>


