<div>
    <div layout="row" layout-align="center">
        <md-select
                ng-model="vm.selectedOutlet"
                ng-change="vm.onChangeOutlet"
                ng-model-options="{trackBy: '$value.id'}"
                placeholder="Outlets"
                aria-label="Outlets"
                flex-xs="60"
                flex-gt-xs="40"
                flex-gt-md="25"
                flex-gt-lg="15"
        >
            <md-option ng-repeat="outlet in vm.outlets" ng-value="outlet">
                  {{ outlet.name }}
            </md-option>
        </md-select>

    </div>
</div>


