<md-dialog flex-xs="70"
           flex-sm="45"
           flex-md="30"
           flex-lg="20"
           flex-xl="12"
           ng-cloak
>
    <div class="title" layout="row" layout-align="center">
            {{vm.data.title}}
    </div>
    <div class="text" layout="row">
            {{vm.data.text}}
    </div>
    <div class="actions" layout="row">
        <md-button class="grey-text" flex="50" ng-click=vm.onClose() aria-label="Cancel">Cancel</md-button>
        <md-button class="orange-text" flex="50" ng-click=vm.onConfirm() aria-label="Delete">Delete</md-button>
    </div>
</md-dialog>

