//higher z index because of other elements
//footer style
.footer-wrapper {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

// footer toolbar style
.footer-wrapper > md-toolbar {
  background-color: #ffffff;
  border-top: 1px solid #E9E9E9;
  min-height: unset;
  height: 50px;
  align-items: center;
}

//center div containing icon
.footer-wrapper div{
  margin-top: auto;
  margin-bottom: auto;
}

//footer icon color
.footer-wrapper path {
  fill: #ee6a20;
}