//higher z index because of other elements
//header style
.header-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

//header toolbar style
.header-wrapper > md-toolbar {
  background-color: #ee6a20;
  min-height: unset;
  height: 50px;
}

//title style
.header-wrapper h2 {
  color: #ffffff;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

//center div containing icon
.header-wrapper div{
  margin-top: auto;
  margin-bottom: auto;
}

//footer icon color
.header-wrapper path {
  fill: #ffffff;
}

.padding-x{
  padding-left: 10px;
}
