<div layout="column">

    <header class="header-wrapper" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <h2 flex md-truncate>Checklists</h2>
                <div>
                    <i class="fa-solid fa-filter"></i>
                </div>
            </div>
        </md-toolbar>
    </header>

<!--    <div class="spinner" ng-show="loading"></div>-->
    <ui-view class="content-wrapper" name="content"></ui-view>

    <footer class="footer-wrapper" flex>
        <md-toolbar>
            <div>
                <i class="fa-solid fa-house-chimney"></i>
            </div>
        </md-toolbar>
    </footer>

</div>