<div>
    <nav class="navbar navbar-default header-style " >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand header-style-col" href="#">
                    <img alt="Brand" class="img-responsive my-img-header" src="/dist/images/SynergySuiteLogoWhite.png"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a class="header-style-col" href="#">Milos Misurovic</a></li>-->

                </ul>
            </div>
        </div>
    </nav>


       <ui-view name="content"></ui-view>

</div>
