<div layout="column">

    <header class="header-wrapper" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>

                <h2 flex md-truncate>Checklists</h2>

                <md-button class="md-icon-button">
                    <ng-md-icon icon="filter_list" aria-label="Filter"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </header>

        <ui-view class="content-wrapper" name="content"></ui-view>

    <footer class="footer-wrapper" flex>
        <md-toolbar>
                <ng-md-icon icon="home" aria-label="Home"></ng-md-icon>
        </md-toolbar>
    </footer>

</div>